api/merchant/schemas/components/financialTransactionBaseTypes-4.4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	Document: financialTransactionBaseTypes-4.4.xsd
	Version:  4.4
	Copyright 2015 Earthport Plc. All rights reserved.
-->
<xsd:schema
	targetNamespace="http://customer.endpoint.earthport.com/api/merchant/v4/components/financialTransactionBase"
	xmlns="http://customer.endpoint.earthport.com/api/merchant/v4/components/financialTransactionBase"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:epcore="http://customer.endpoint.earthport.com/api/merchant/v2/components/core"
	xmlns:epbb="http://customer.endpoint.earthport.com/api/merchant/v3/components/bankBase"
	xmlns:epident="http://customer.endpoint.earthport.com/api/merchant/v2/components/identityBase"
	xmlns:eppo="http://customer.endpoint.earthport.com/api/merchant/v1/components/payoutBase"
	xmlns:epw="http://customer.endpoint.earthport.com/api/merchant/v1/components/walletBase"	
	elementFormDefault="qualified"
	version="4.4">

    <xsd:import namespace="http://customer.endpoint.earthport.com/api/merchant/v2/components/core" 
    	schemaLocation="coreTypes-2.0.xsd" />
   	<xsd:import namespace="http://customer.endpoint.earthport.com/api/merchant/v3/components/bankBase" 
  		schemaLocation="bankBaseTypes-3.1.xsd" />
	<xsd:import namespace="http://customer.endpoint.earthport.com/api/merchant/v2/components/identityBase"
		schemaLocation="identityBaseTypes-2.1.xsd" />
	<xsd:import namespace="http://customer.endpoint.earthport.com/api/merchant/v1/components/payoutBase" 
    	schemaLocation="payoutBaseTypes-1.3.xsd" />
	<xsd:import namespace="http://customer.endpoint.earthport.com/api/merchant/v1/components/walletBase" 
    	schemaLocation="walletBaseTypes-1.0.xsd" />
  			
	<xsd:complexType name="FinancialTransactionType"
		abstract="true">
		<xsd:annotation>
			<xsd:documentation>
				Minimum set of data that constitutes a financial
				transaction.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="epTransactionID"
				type="epcore:PaymentIDType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						A transaction ID uniquely identifying the
						transaction in the EPS system.For all
						transaction types this is the internal Earthport
						payment ID.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="timestamp"
				type="epcore:GenericTimestampType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						A timestamp of the transaction
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="transactionType"
				type="FinancialTransactionTypeType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						The type of the transaction
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="transactionStatus"
				type="FinancialTransactionStatusType" minOccurs="0" maxOccurs="1">
			</xsd:element>
			<xsd:element name="amount" type="epcore:MonetaryValueType"
				minOccurs="1" maxOccurs="1">
			</xsd:element>
			<xsd:element name="movementType" type="epcore:MoneyMovementType" minOccurs="1" maxOccurs="1"></xsd:element>
            <xsd:element name="statementDetail" type="StatementDetail" minOccurs="0" maxOccurs="1"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="PayoutTransactionType">
		<xsd:annotation>
			<xsd:documentation>
				A financial transaction representing a payout from an account held in the EPS system.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="FinancialTransactionType">
				<xsd:sequence>
					<xsd:element name="merchantTransactionReference"
						type="epcore:MerchantTransactionRefType" minOccurs="1"
						maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>
								Transaction reference as applied by
								merchant.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="usersBankId"
						type="epbb:UsersBankIDType" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>
								Number of the target beneficiary bank
								account of the payout transaction.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
		<xsd:complexType name="WalletPaymentTransactionType">
		<xsd:annotation>
			<xsd:documentation>
				A financial transaction representing payment to a 
				beneficiary wallet from an account held in the EPS system.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="FinancialTransactionType">
				<xsd:sequence>
					<xsd:element name="merchantTransactionReference"
						type="epcore:MerchantTransactionRefType" minOccurs="1"
						maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>
								Transaction reference as applied by
								merchant.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="usersWalletId"
						type="epw:UsersWalletIDType" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>
								Number of the target beneficiary bank
								account of the payout transaction.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="RefundType">
		<xsd:annotation>
			<xsd:documentation>
				A financial transaction representing a refund (by a bank or other third-party) to the merchant's account.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="FinancialTransactionType">
				<xsd:sequence>
					<xsd:element name="userID" type="epcore:UserIDType" minOccurs="1" maxOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
		<xsd:complexType name="WalletPaymentRejectTransactionType">
		<xsd:annotation>
			<xsd:documentation>
				A financial transaction representing the rejection or refund or a payment
				to a beneficiary wallet back to the merchant's account.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="FinancialTransactionType">
				<xsd:sequence>
					<xsd:element name="userID" type="epcore:UserIDType" minOccurs="1" maxOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="UserDepositType">
		<xsd:annotation>
			<xsd:documentation>
				A financial transaction representing money paid into a merchant's account by a user.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="FinancialTransactionType">

				<xsd:sequence>
					<xsd:element name="userID"
						type="epcore:UserIDType" minOccurs="1" maxOccurs="1">
					</xsd:element>
				</xsd:sequence>

			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="LiquidityDepositType">
		<xsd:annotation>
			<xsd:documentation>
				Financial transaction representing a deposit of liquidity (money) into a merchant account.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="FinancialTransactionType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="JournalType">
		<xsd:annotation>
			<xsd:documentation>
				Financial transaction representing a journal entry
				against an account.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="FinancialTransactionType">
				<xsd:sequence>
					<xsd:element name="description" type="xsd:string"
						minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>
								A reason or description or narrative as
								entered against the journal entry.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>


	<xsd:simpleType name="FinancialTransactionTypeType">
	<xsd:annotation>
		<xsd:documentation>
			Different types of financial transactions that are stored in the system. 
			Each of the transactions represents a money movement against a virtual account, i.e. they have an impact on the 
			balance of the account.
		</xsd:documentation>
	</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Payout"></xsd:enumeration>
			<xsd:enumeration value="Refund"></xsd:enumeration>
			<xsd:enumeration value="User Deposit"></xsd:enumeration>
			<xsd:enumeration value="Merchant Liquidity Deposit"></xsd:enumeration>
			<xsd:enumeration value="Journal"></xsd:enumeration>
			<xsd:enumeration value="Merchant Liquidity Movement"></xsd:enumeration>
            <xsd:enumeration value="Wallet Payment"></xsd:enumeration>
            <xsd:enumeration value="Wallet Payment Refund"></xsd:enumeration>
            <xsd:enumeration value="Earthport Merchant Liquidity Transfer"></xsd:enumeration>
            <xsd:enumeration value="Transaction"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>

  	<xsd:complexType name="FinancialTransactionStatusType">
		<xsd:annotation>
			<xsd:documentation>
				Additional important status information for specific transaction types.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="code" type="StatusCodeType" maxOccurs="1" minOccurs="1"/>
			<xsd:element name="description" type="xsd:string" maxOccurs="1" minOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>

    <xsd:simpleType name="StatusCodeType">
        <xsd:annotation>
            <xsd:documentation>
                Numerical code of financial transaction status
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:int" />
    </xsd:simpleType>

	<xsd:complexType name="FinancialTransactionsListType">
		<xsd:annotation>
			<xsd:documentation>
				Array of financial transactions which can be of any type
				- payouts, deposits, refunds, etc.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="financialTransaction"
				type="FinancialTransactionType" minOccurs="0"
				maxOccurs="unbounded">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="PayoutTransactionDetailType">
		<xsd:annotation>
			<xsd:documentation>
				A financial transaction representing a payout from an account held in the EPS system.
				This element contains all details pertaining to this financial transaction.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PayoutTransactionType">
				<xsd:sequence>
					<xsd:element name="fxExecutedDetail"
						type="epcore:FXExecutedRateType" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>
								ID of the FX Ticket that was used when
								performing the FX during the payout.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="payoutRequestAmount"
						type="epcore:MonetaryValueType" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>
								Monetary amount and currency of the
								original payout request
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="settlementInstructionAmount"
						type="epcore:MonetaryValueType" minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="beneficiaryStatementNarrative"
						type="epcore:GenericDescriptionType" minOccurs="0"
						maxOccurs="1">
					</xsd:element>
					<xsd:element name="payoutDetails"
						type="eppo:PayoutDetailsType" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>
								PayoutDetails are used for key-value pairs of details supported by payouts. 
								Refer to client guides for detailed list of valid keys.								
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="dateSentToBank"
						type="epcore:GenericDateType" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>
								Date of when the payment was actually
								sent to the bank.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="expectedSettlementDate"
						type="epcore:GenericDateType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                        	<xsd:documentation>Indicative date when the payout instruction is expected to be settled to the bank. This is calculated taking into account such things as acceptedDate, the settlement agreement cut-off time and period, etc. It currently does not take into account individual countries' banking calendars.</xsd:documentation></xsd:annotation>
					</xsd:element>
					<xsd:element name="beneficiaryBankCountry"
						type="epcore:CountryCodeType" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>
								Country of the target beneficiary bank.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="beneficiaryBankCurrency"
						type="epcore:CurrencyCodeType" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>
								Currency of the target beneficiary bank
								account.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="refundPayoutID"
						type="epcore:RefundPayoutIDType" minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="debitValueDate"
						type="epcore:GenericTimestampType" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>
								This is the same as financial
								transaction date included here for PSD
								reasons.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="payerIdentity" type="epident:PayerIdentityType" minOccurs="1" maxOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="WalletPaymentTransactionDetailType">
		<xsd:annotation>
			<xsd:documentation>
				A financial transaction representing payment to a 
				beneficiary wallet from an account held in the EPS system.
				This element contains all details pertaining to this financial transaction.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="WalletPaymentTransactionType">
				<xsd:sequence>
					<xsd:element name="fxExecutedDetail"
						type="epcore:FXExecutedRateType" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>
								ID of the FX Ticket that was used when
								performing the FX during the payout.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="payoutRequestAmount"
						type="epcore:MonetaryValueType" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>
								Monetary amount and currency of the
								original payout request
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="settlementInstructionAmount"
						type="epcore:MonetaryValueType" minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="beneficiaryStatementNarrative"
						type="epcore:GenericDescriptionType" minOccurs="0"
						maxOccurs="1">
					</xsd:element>
					<xsd:element name="payoutDetails"
						type="eppo:PayoutDetailsType" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>
							Reserved for future use.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="beneficiaryWalletCountry"
						type="epcore:CountryCodeType" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>
								Country of the target beneficiary wallet.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="beneficiaryWalletCurrency"
						type="epcore:CurrencyCodeType" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>
								Currency of the target beneficiary wallet.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="refundPayoutID"
						type="epcore:RefundPayoutIDType" minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="debitValueDate"
						type="epcore:GenericTimestampType" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>
								This is the same as financial
								transaction date included here for PSD
								reasons.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="payerIdentity" type="epident:PayerIdentityType" minOccurs="1" maxOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="RefundDetailType">
		<xsd:annotation>
			<xsd:documentation>
				A financial transaction representing a refund (by a bank or other third-party) to the merchant's account.
				This element contains all details pertaining to this financial transaction.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="RefundType">
				<xsd:sequence>
					<xsd:element name="fxExecutedDetail"
						type="epcore:FXExecutedRateType" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>
								The FX rate used to convert from the
								amount as refunded by the bank to the
								actual amount to be refunded to the
								customer.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="amountRefundedByBank"
						type="epcore:MonetaryValueType" minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="amountRefundedToCustomer"
						type="epcore:MonetaryValueType" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>
								Amount and currency of the refund
								transaction after any FX as refunded to
								the customer.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
                    <xsd:element name="reason" type="epcore:ReasonType" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>
								Reason for the refund as specified by
								the Business Banking Operations
								Department.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
                    <xsd:element name="originalPayoutTransaction" type="PayoutTransactionType" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>
								Contains details of the original payout
								transaction that resulted in this
								refund.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
                </xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
		<xsd:complexType name="WalletPaymentRejectTransactionDetailType">
		<xsd:annotation>
			<xsd:documentation>
				A financial transaction representing the rejection or refund or a payment
				to a beneficiary wallet back to the merchant's account.
				This element contains all details pertaining to this financial transaction.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="WalletPaymentRejectTransactionType">
				<xsd:sequence>
					<xsd:element name="fxExecutedDetail"
						type="epcore:FXExecutedRateType" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>
								The FX rate used to convert from the
								amount as refunded by the bank to the
								actual amount to be refunded to the
								customer.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="amountRefundedByProvider"
						type="epcore:MonetaryValueType" minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="amountRefundedToCustomer"
						type="epcore:MonetaryValueType" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>
								Amount and currency of the refund
								transaction after any FX as refunded to
								the customer.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
                    <xsd:element name="reason" type="epcore:ReasonType" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>
								Reason for the refund as specified by
								the Business Banking Operations
								Department.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
                    <xsd:element name="originalWalletPaymentTransaction" type="WalletPaymentTransactionType" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>
								Contains details of the original wallet
								payment transaction that resulted in this
								refund.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
                </xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="UserDepositDetailType">
		<xsd:annotation>
			<xsd:documentation>
				A financial transaction representing money paid into a merchant's account by a user.
				This element contains all details pertaining to this financial transaction.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="UserDepositType">
				<xsd:sequence>
					<xsd:element name="depositDate"
						type="epcore:GenericDateType" minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="depositCountry"
						type="epcore:CountryCodeType" minOccurs="1" maxOccurs="1">
					</xsd:element>
                    <xsd:element name="unappliedReason"
						type="xsd:string" minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="depositReference"
						type="xsd:string" minOccurs="0" maxOccurs="1">
					</xsd:element>
                    <xsd:element name="fxExecutedDetail" type="epcore:FXExecutedRateType" minOccurs="0" maxOccurs="1">
					</xsd:element>
                    <xsd:element name="amountDepositedByUser" type="epcore:MonetaryValueType" minOccurs="1" maxOccurs="1"></xsd:element>
                    <xsd:element name="amountDepositedToMerchant" type="epcore:MonetaryValueType" minOccurs="1" maxOccurs="1"></xsd:element>
                </xsd:sequence>

			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="LiquidityDepositDetailType">
		<xsd:annotation>
			<xsd:documentation>
				Financial transaction representing a deposit of liquidity (money) into a merchant account.
				This element contains all details pertaining to this financial transaction.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="LiquidityDepositType">
				<xsd:sequence>
					<xsd:element name="depositDate"
						type="epcore:GenericDateType" minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="depositCountry"
						type="epcore:CountryCodeType" minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="unappliedReason"
						type="xsd:string" minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="depositReference"
						type="xsd:string" minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="fxExecutedDetail"
						type="epcore:FXExecutedRateType" minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="amountCreditedToMerchantAccount" type="epcore:MonetaryValueType" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>
								An amount representing the amount of money recieved into the merchants
								account. This is expected to be the same as the financial transaction amount
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="amountRecievedAtBank" type="epcore:MonetaryValueType" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>
								An amount representing the amount of money recieved on the statement line
								item. This may differ from amountCreditedToMerchantAccount due to charges
								or FX 
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="JournalDetailType">
		<xsd:annotation>
			<xsd:documentation>
				Financial transaction representing a journal entry
				against an account.
				This element contains all details pertaining to this financial transaction.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="JournalType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>


	<xsd:complexType name="MerchantLiquidityMovementType">
		<xsd:annotation>
			<xsd:documentation>
				A financial transaction representing movement of funds between a merchant's accounts held in the EPS system.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="FinancialTransactionType">
				<xsd:sequence>
					<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="MerchantLiquidityMovementDetailType">
		<xsd:annotation>
			<xsd:documentation>
				A financial transaction representing movement of funds between a merchant's accounts held in the EPS system.
				Such a movement will usually be between accounts of different currencies and thus will involve an FX transfer.
				This element contains all details pertaining to this financial transaction.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="MerchantLiquidityMovementType">
				<xsd:sequence>
					<xsd:element name="fxExecutedDetail"
						type="epcore:FXDetailType" minOccurs="0" maxOccurs="1">
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

    <xsd:complexType name="EarthportMerchantLiquidityTransferType">
        <xsd:annotation>
            <xsd:documentation>
                Financial transaction representing the transfer of liquidity from an
                Earthport account to a Merchants Central account.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="FinancialTransactionType">
                <xsd:sequence>
                    <xsd:element name="description" type="xsd:string"
                                 minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>
                                A reason or description or narrative as entered against the entry.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="EarthportMerchantLiquidityTransferDetailType">
        <xsd:annotation>
            <xsd:documentation>
                Financial transaction representing the transfer of liquidity from an
                Earthport account to a Merchants Central account.
                This element contains all details pertaining to this financial transaction.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="EarthportMerchantLiquidityTransferType">
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="GenericTransactionType">
        <xsd:annotation>
            <xsd:documentation>
                A generic financial transaction used to represent different types of transactions
                in the EPS system that do not have their own specific mappings in the schema.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="FinancialTransactionType">
                <xsd:sequence>
                    <xsd:element name="description" type="xsd:string"
                                 minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>
                                Any additional information about the transaction.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="StatementDetail">
        <xsd:annotation>
            <xsd:documentation>Provides additional detail about a money movement.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="StatementDetailItem" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:extension base="xsd:string">
                            <xsd:attribute name="type" use="required">
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:enumeration value="UniqueTransactionId"/>
                                        <xsd:enumeration value="InstructedCurrency"/>
                                        <xsd:enumeration value="InstructedAmount"/>
                                        <xsd:enumeration value="SettledCurrency"/>
                                        <xsd:enumeration value="SettledAmount"/>
                                        <xsd:enumeration value="SettledDate"/>
                                        <xsd:enumeration value="DebitCreditIndicator"/>
                                        <xsd:enumeration value="TransactionType"/>
                                        <xsd:enumeration value="TransactionNarrative"/>
                                        <xsd:enumeration value="AdditionalNarrative"/>
                                        <xsd:enumeration value="OriginatorBank"/>
                                        <xsd:enumeration value="OriginatorAccountNumber"/>
                                        <xsd:enumeration value="OriginatorNameAddressCombined"/>
                                        <xsd:enumeration value="OriginatorAccountName"/>
                                        <xsd:enumeration value="OriginatorAddress"/>
                                        <xsd:enumeration value="OriginatorCity"/>
                                        <xsd:enumeration value="OriginatorCountry"/>
                                        <xsd:enumeration value="OriginatorDOB"/>
                                        <xsd:enumeration value="OriginatorNationalId"/>
                                        <xsd:enumeration value="BeneficiaryNameAddressCombined"/>
                                        <xsd:enumeration value="BeneficiaryName"/>
                                        <xsd:enumeration value="BeneficiaryDOB"/>
                                        <xsd:enumeration value="BeneficiaryNationalId"/>
                                        <xsd:enumeration value="BeneficiaryAddress"/>
                                        <xsd:enumeration value="BeneficiaryCity"/>
                                        <xsd:enumeration value="BeneficiaryCountry"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:attribute>
                        </xsd:extension>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>